.hljs-lang-format-0 {
  color: #000000;
  text-shadow: 2px 1.5px #000000;
}

.hljs-lang-format-1 {
  color: #0000aa;
  text-shadow: 2px 1.5px #00002a;
}

.hljs-lang-format-2 {
  color: #00aa00;
  text-shadow: 2px 1.5px #002a00;
}

.hljs-lang-format-3 {
  color: #00aaaa;
  text-shadow: 2px 1.5px #002a2a;
}

.hljs-lang-format-4 {
  color: #aa0000;
  text-shadow: 2px 1.5px #2a0000;
}

.hljs-lang-format-5 {
  color: #aa00aa;
  text-shadow: 2px 1.5px #2a002a;
}

.hljs-lang-format-6 {
  color: #ffaa00;
}

.hljs-lang-java .hljs-lang-format-6 {
  text-shadow: 2px 1.5px #2a2a00;
}

.hljs-lang-bedrock .hljs-lang-format-6 {
  text-shadow: 2px 1.5px #402a00;
}

.hljs-lang-format-7 {
  color: #aaaaaa;
  text-shadow: 2px 1.5px #2a2a2a;
}

.hljs-lang-format-8 {
  color: #555555;
  text-shadow: 2px 1.5px #151515;
}

.hljs-lang-format-9 {
  color: #5555ff;
  text-shadow: 2px 1.5px #15153f;
}

.hljs-lang-format-a {
  color: #55ff55;
  text-shadow: 2px 1.5px #153f15;
}

.hljs-lang-format-b {
  color: #55ffff;
  text-shadow: 2px 1.5px #153f3f;
}

.hljs-lang-format-c {
  color: #ff5555;
  text-shadow: 2px 1.5px #3f1515;
}

.hljs-lang-format-d {
  color: #ff55ff;
  text-shadow: 2px 1.5px #3f153f;
}

.hljs-lang-format-e {
  color: #ffff55;
  text-shadow: 2px 1.5px #3f3f15;
}

.hljs-lang-format-f {
  color: #ffffff;
  text-shadow: 2px 1.5px #3f3f3f;
}

.hljs-lang-bedrock .hljs-lang-format-g {
  color: #ddd605;
  text-shadow: 2px 1.5px #373501;
}

.hljs-lang-format-k {
  filter: blur(1.5px);
}

.hljs-lang-format-l {
  font-weight: bold;
}

.hljs-lang-java .hljs-lang-format-m {
  text-decoration: line-through;
}

.hljs-lang-java .hljs-lang-format-n {
  text-decoration: underline;
}

.hljs-lang-java .hljs-lang-format-m .hljs-lang-format-n,
.hljs-lang-java .hljs-lang-format-n .hljs-lang-format-m {
  text-decoration: line-through underline;
}

.hljs-lang-format-o {
  font-style: italic;
}

.hljs-lang-format-r {
  color: #ffffff;
  text-shadow: 2px 1.5px #3f3f3f;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  filter: none;
}